<h1>Ajax2#search</h1>

<%= select_tag(:pref_id,options_from_collection_for_select(@prefs,:id,:name),:id=>'pref_id'
)%>

<ul id="result"></ul>

<script>
$(function($) {
	$('#pref_id').change(function () {
		alert ('This is test.');
		// $('#pref_id').data('remote', 'true');
		// $('#pref_id').data('url', '/ajax2/result');
		$('#pref_id').attr('data-remote', 'true');
		$('#pref_id').attr('data-url', '/ajax2/result');
		$.ajax({
			type: 'post',
			url: 'result',
			data: {
				pref_id: $('#pref_id').val()
			},
			success: function(j_data){
			},
			error: function(j_data){
				alert ('error');
			}
		})
	});
});


</script>
